In [74]:
import pandas as pd

In [75]:
data = pd.read_csv('data/GA_2_dataset.csv')
df = pd.DataFrame(data)
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,35900,37.0,Male,Other,Strategy,23.929404,NaN,Hard,3,124,99,18,Medium
1,27085,25.0,Male,NaN,Action,22.755168,1.0,Easy,14,84,84,12,Medium
2,39595,24.0,Female,Europe,Simulation,19.505292,0.0,Hard,3,172,9,18,Medium
3,37440,26.0,Female,Europe,RPG,11.009645,NaN,NaN,3,83,36,43,Low
4,22882,17.0,Female,USA,RPG,0.581039,1.0,Medium,5,163,9,24,Medium

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   10000 non-null  int64
 1   Age                        9200 non-null   float64
 2   Gender                     10000 non-null  object
 3   Location                   9202 non-null   object
 4   GameGenre                  10000 non-null  object
 5   PlayTimeHours              10000 non-null  float64
 6   InGamePurchases            9107 non-null   float64
 7   GameDifficulty             9154 non-null   object
 8   SessionsPerWeek            10000 non-null  int64
 9   AvgSessionDurationMinutes  10000 non-null  int64
 10  PlayerLevel                10000 non-null  int64
 11  AchievementsUnlocked       10000 non-null  int64
 12  EngagementLevel            10000 non-null  object
dtypes: float64(3), int64(5), object(5)
memory usage: 1015.8+ KB

In [77]:
mask = ((df['Gender'] == 'Male')
        & (df['Location'] == 'Europe')
        & (df['InGamePurchases'] == 1.0))
df[mask]

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
30,22488,26.0,Male,Europe,Action,23.347913,1.0,Medium,18,33,48,45,Medium
39,38439,48.0,Male,Europe,Sports,8.759941,1.0,Medium,6,40,74,47,Medium
52,11149,41.0,Male,Europe,Sports,8.683196,1.0,Hard,8,125,31,23,Medium
63,45546,18.0,Male,Europe,Sports,17.287868,1.0,Easy,7,119,87,41,Medium
68,9158,46.0,Male,Europe,Sports,12.306317,1.0,Medium,11,179,91,4,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9880,27701,33.0,Male,Europe,Sports,7.351962,1.0,Hard,8,95,36,5,Medium
9889,15514,41.0,Male,Europe,Action,0.965662,1.0,Hard,17,104,32,33,High
9907,26038,23.0,Male,Europe,RPG,9.154653,1.0,Hard,2,27,43,34,Low
9930,9735,19.0,Male,Europe,RPG,7.825493,1.0,Easy,1,22,8,31,Low
9948,48004,25.0,Male,Europe,Action,13.320361,1.0,Easy,16,45,5,0,Medium

In [78]:
mask = ((df['Age'] < 18) &
        (df['PlayTimeHours'] > 10))

df[mask]

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
25,24898,15.0,Male,Asia,Sports,12.376600,0.0,Easy,2,100,49,43,High
64,34210,16.0,Female,Europe,RPG,12.106891,0.0,Hard,1,85,78,4,Low
72,22234,17.0,Female,Europe,Sports,18.473853,0.0,Easy,12,11,50,25,Low
133,19489,17.0,Male,NaN,Strategy,23.178396,0.0,NaN,4,136,36,39,Medium
154,43046,16.0,Female,USA,Sports,13.464307,0.0,Hard,3,26,20,12,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9959,44285,15.0,Male,Asia,Action,21.506080,0.0,Easy,15,132,35,34,High
9982,33227,16.0,Male,USA,Simulation,11.236814,1.0,Easy,9,85,85,26,Medium
9984,24634,15.0,Female,Europe,Strategy,16.071099,0.0,Easy,14,141,16,28,High
9987,9950,17.0,Male,Asia,RPG,17.512651,0.0,Easy,14,84,36,18,Medium
9998,42490,16.0,Male,Europe,Strategy,17.111949,0.0,Medium,6,70,24,32,Medium

In [79]:
X = df.iloc[:, :-1]
y = df.iloc[:, [-1]]
X
y

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked
0,35900,37.0,Male,Other,Strategy,23.929404,NaN,Hard,3,124,99,18
1,27085,25.0,Male,NaN,Action,22.755168,1.0,Easy,14,84,84,12
2,39595,24.0,Female,Europe,Simulation,19.505292,0.0,Hard,3,172,9,18
3,37440,26.0,Female,Europe,RPG,11.009645,NaN,NaN,3,83,36,43
4,22882,17.0,Female,USA,RPG,0.581039,1.0,Medium,5,163,9,24
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,42828,22.0,Female,USA,Sports,21.336213,0.0,Medium,13,58,74,15
9996,18169,21.0,Male,Europe,Strategy,6.158520,0.0,Easy,4,10,77,27
9997,22094,43.0,Male,USA,Action,22.628880,0.0,Easy,4,161,66,46
9998,42490,16.0,Male,Europe,Strategy,17.111949,0.0,Medium,6,70,24,32
9999,42839,45.0,Male,Other,Simulation,22.067866,1.0,Easy,4,131,10,24

     EngagementLevel
0             Medium
1             Medium
2             Medium
3                Low
4             Medium
...              ...
9995          Medium
9996             Low
9997          Medium
9998          Medium
9999          Medium

[10000 rows x 1 columns]

In [80]:
df.isnull().sum().sum()

np.int64(3337)

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)
train_set
test_set

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
9254,43413,34.0,Female,Asia,Simulation,15.777862,0.0,Medium,5,76,80,33,Medium
1561,43503,41.0,Male,USA,Strategy,3.044182,0.0,Medium,7,73,34,5,Medium
1670,29028,48.0,Female,USA,Simulation,0.585613,0.0,Medium,16,163,44,3,High
6087,15998,19.0,Male,Europe,Action,6.194149,0.0,Easy,6,87,26,33,Medium
6669,21496,38.0,Male,Europe,RPG,21.610488,NaN,Easy,14,116,39,14,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,37171,21.0,Male,Europe,RPG,2.698920,0.0,Hard,4,179,1,12,Medium
5191,14643,48.0,Male,USA,Sports,20.508777,1.0,Medium,12,42,64,49,Medium
5390,36561,19.0,Male,Asia,Action,9.480399,0.0,Easy,4,32,31,43,Medium
860,20846,28.0,Male,Europe,Strategy,7.895527,0.0,Medium,4,27,99,48,Medium
7270,25964,15.0,Male,Europe,Action,13.401741,NaN,Medium,6,77,11,20,Medium

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
6252,45359,38.0,Male,Other,Strategy,13.585655,0.0,NaN,18,141,96,19,High
4684,36195,37.0,Female,Europe,Simulation,3.650090,0.0,Easy,17,12,22,2,Low
1731,14118,31.0,Female,Asia,Sports,11.610198,0.0,Medium,0,68,92,29,Low
4742,28448,NaN,Male,Asia,Simulation,21.214511,0.0,Easy,3,21,29,7,Low
4521,35751,20.0,Male,NaN,Strategy,0.235298,1.0,Easy,1,161,85,15,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6412,45829,NaN,Female,USA,Simulation,7.874463,1.0,Hard,6,51,67,2,Low
8285,29985,31.0,Male,Europe,Sports,11.491252,0.0,Easy,18,108,83,2,High
7853,21634,24.0,Male,Europe,Action,18.789856,0.0,Hard,4,169,66,13,Medium
1095,46243,23.0,Male,Asia,Simulation,22.076684,0.0,NaN,14,107,10,40,High
6929,40465,22.0,Male,Europe,Simulation,13.353841,1.0,Easy,15,19,21,29,Low

In [83]:
y_train = train_set.iloc[:, [-1]]
y_train
y_train.value_counts()

     EngagementLevel
9254          Medium
1561          Medium
1670            High
6087          Medium
6669            High
...              ...
5734          Medium
5191          Medium
5390          Medium
860           Medium
7270          Medium

[8000 rows x 1 columns]

EngagementLevel
Medium             3983
Low                2021
High               1996
Name: count, dtype: int64

In [84]:
df_copy = df.copy()

In [85]:
# df_copy['Age'].fillna(df_copy['Age'].mean()).isnull().sum()

In [112]:
test_set = test_set.dropna(subset=['Age'])
test_set['Age'].isna().sum()
test_set['Age'].sum()

np.int64(0)

np.float64(58511.0)