In [44]:
import numpy as np
import pandas as pd

In [110]:
df = pd.read_csv('data/Preprocessing1.csv')
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0

In [46]:
df['Price'].mean()

np.float64(9027.895555555555)

In [47]:
months = df['Month'].value_counts()
months
months.index[months.argmax()]

Month
5    3092
6    3044
3    2388
4     926
Name: count, dtype: int64

np.int64(5)

In [48]:
(df['WeekDay'].isin(['Sunday', 'Saturday']))

0       False
1        True
2       False
3       False
4       False
        ...
9445    False
9446     True
9447     True
9448     True
9449    False
Name: WeekDay, Length: 9450, dtype: bool

In [49]:
weekend = df['WeekDay'].isin(['Saturday', 'Sunday'])
df[weekend]['Price'].mean()
df[~weekend]['Price'].mean()

np.float64(9058.016077170418)

np.float64(9015.219666215608)

In [50]:
mask = df['Additional_Info'] == 'No Info'
# df[mask]['Additional_Info'] = 'No info'
df.loc[mask, 'Additional_Info'] = 'No info'

In [51]:
((df['Airline'] == 'IndiGo') & (df['Additional_Info'] == 'No info')).sum()

np.int64(1650)

In [52]:
df['Duration']

0       26h 35m
1           27h
2        1h 30m
3       15h 10m
4        8h 20m
         ...
9445     8h 55m
9446     8h 35m
9447    15h 15m
9448     12h 5m
9449     8h 45m
Name: Duration, Length: 9450, dtype: object

In [53]:
time = '20h 30m'
hrs, mins = time.split()
int(hrs[:-1]) * 3600 + int(mins[:-1]) * 60

73800

In [54]:
time = '30h'
' ' in time
time[-1] == 'h'

False

True

In [55]:
def convert_to_seconds(duration):
  seconds = 0
  if ' ' in duration:
    hrs, mins = duration.split()
    seconds += int(hrs[:-1]) * 3600
    seconds += int(mins[:-1]) * 60

  elif duration[-1] == 'h':
    seconds += int(duration[:-1]) * 3600

  elif duration[-1] == 'm':
    seconds += int(duration[:-1]) * 60

  return seconds


convert_to_seconds('3h 3m')
convert_to_seconds('3h')
convert_to_seconds('3m')

10980

10800

180

In [60]:
df['Duration'].map(convert_to_seconds).mean()

np.float64(38957.93650793651)

In [69]:
df[['Dep_Time', 'Arrival_Time']]

     Dep_Time  Arrival_Time
0       20:00  04:25 10 Jun
1       16:00  19:00 10 Jun
2       19:35         21:05
3       18:55  01:30 16 Jun
4       17:10         17:55
...       ...           ...
9445    19:30         19:50
9446    17:00         21:00
9447    07:05         19:45
9448    08:20         19:50
9449    14:30         23:15

[9450 rows x 2 columns]

In [112]:
def time_to_category(time):
  hrs = int(time[:2])

  if 5 <= hrs < 12:
    return 'morning'
  elif 12 <= hrs < 17:
    return 'afternoon'
  elif 17 <= hrs < 20:
    return 'evening'
  else:
    return 'night'


time_to_category('04:00')

'night'

In [94]:
mask1 = df['Dep_Time'].map(time_to_category) == 'morning'
mask2 = df['Arrival_Time'].map(time_to_category) == 'evening'
(mask1 & mask2).sum()

np.int64(922)

In [111]:
mask = df['WeekDay'].isin(['Saturday', 'Sunday'])
df.loc[mask, 'WeekDay'] = 1
df.loc[~mask, 'WeekDay'] = 0

df['WeekDay'].value_counts()

WeekDay
0    6651
1    2799
Name: count, dtype: int64